[Unit]
Description=etcd
Documentation=https://etcd.io/docs/

[Service]
ExecStart=/usr/local/bin/etcd \\
  --config-file=/etc/kubernetes/manifests/etcd.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
