[Unit]
Description=Kubernetes Scheduler
Documentation=https://kubernetes.io/docs/home/

[Service]
ExecStart=/usr/local/bin/kube-scheduler \\
  --config=/etc/kubernetes/manifests/kube-scheduler.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
