[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/home/

[Service]
ExecStart=/usr/local/bin/kube-apiserver \\
  --config=/etc/kubernetes/manifests/kube-apiserver.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
